__pycache__
.pytest_cache

.idea/

*.so

*.zip

datasets/*
!datasets/rolfsen.csv
!datasets/linkinfo-to-9.csv

outputs/

spherogram-nim/

saved_models/

# Compiled Nim test binaries
test/test_*
!test/test_*.*

venv/

src/KnotJob*
nimble.develop
nimble.paths
config.nims
nimbledeps
